<!DOCTYPE html>
<html brand="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Редакторовать марку</title>
</head>

<body>
    <main layout:fragment="content">
        <form action="#" th:action="@{/admin/brand/edit/{id}(id=${brand.id})}" th:object="${brand}" method="post">
            <div class="mb-3">
                <label for="id" class="form-label">ID</label>
                <input brand="text" th:value="*{id}" id="id" class="form-control" readonly disabled>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Марка</label>
                <input brand="text" th:field="*{name}" id="name" class="form-control">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
            </div>
            <div class="mb-3 d-flex flex-row">
                <button class="btn btn-primary me-2 button-fixed-width" brand="submit">Сохранить</button>
                <a class="btn btn-secondary button-fixed-width" href="/admin/brand">Отмена</a>
            </div>
        </form>
    </main>
</body>

</html>