<!DOCTYPE html>
<html brand="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Список автомобилей</title>
</head>

<body>
    <main layout:fragment="content">
        <th:block th:switch="${items.size()}">
            <h2 th:case="0">Данные отсутствуют</h2>
            <th:block th:case="*">
                <h2>Списки автомобилей</h2>
                <div>
                    <a href="/admin/car/edit/" class="btn btn-primary">Добавить автомобиль</a>
                </div>
                <table class="table">
                    <caption></caption>
                    <thead>
                        <tr>
                            <th scope="col" class="w-10">ID</th>
                            <th scope="col" class="w-auto">Список автомобилей</th>
                            <th:block sec:authorize="hasRole('ADMIN')">
                                <th scope="col" class="w-10"></th>
                                <th scope="col" class="w-10"></th>
                            </th:block>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="car : ${items}">
                            <th scope="row" th:text="${car.id}"></th>
                            <td th:text="${car.name}"></td>
                            <th:block sec:authorize="hasRole('ADMIN')">
                                <td>
                                    <form th:action="@{/admin/car/edit/{id}(id=${car.id})}" method="get">
                                        <button type="submit" class="btn btn-link button-link">Редактировать</button>
                                    </form>
                                </td>
                                <td>
                                    <form th:action="@{/admin/car/delete/{id}(id=${car.id})}" method="post">
                                        <button type="submit" class="btn btn-link button-link"
                                            onclick="return confirm('Вы уверены?')">Удалить</button>
                                    </form>
                                </td>
                            </th:block>
                        </tr>
                    </tbody>
                </table>
            </th:block>
            <th:block th:replace="~{ pagination :: pagination (
                                            url=${'admin/car'},
                                            totalPages=${totalPages},
                                            currentPage=${currentPage}) }" />
        </th:block>
    </main>
</body>

</html>