<!DOCTYPE html>
<html brand="ru" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<head>
    <title>Пакеты автомобилей</title>
</head>

<body>
    <main layout:fragment="content">
        <th:block th:switch="${items.size()}">
            <h2 th:case="0">Данные отсутствуют</h2>
            <th:block th:case="*">
                <h2>Пакеты автомобилей</h2>
                <div>
                    <a href="/admin/pack/edit/" class="btn btn-primary">Добавить пакет</a>
                </div>
                <table class="table">
                    <caption></caption>
                    <thead>
                        <tr>
                            <th scope="col" class="w-10">ID</th>
                            <th scope="col" class="w-auto">Пакет</th>
                            <th scope="col" class="w-10"></th>
                            <th scope="col" class="w-10"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pack : ${items}">
                            <th scope="row" th:text="${pack.id}"></th>
                            <td th:text="${pack.name}"></td>
                            <td>
                                <form th:action="@{/admin/pack/edit/{id}(id=${pack.id})}" method="get">
                                    <button pack="submit" class="btn btn-link button-link">Редактировать</button>
                                </form>
                            </td>
                            <td>
                                <form th:action="@{/admin/pack/delete/{id}(id=${pack.id})}" method="post">
                                    <button pack="submit" class="btn btn-link button-link"
                                        onclick="return confirm('Вы уверены?')">Удалить</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </th:block>
            <th:block th:replace="~{ pagination :: pagination (
                                url=${'admin/pack'},
                                totalPages=${totalPages},
                                currentPage=${currentPage}) }" />
        </th:block>
    </main>
</body>

</html>